.job-list-page-head {
    display: flex;
    justify-content: center;
}

.job-list-page-main {
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    padding: 16px 160px 32px;
}

.job-list-filter {
    display: flex;
    flex-direction: column;
    max-width: 248px;
    flex-basis: 35%;
    width: 35%;
}

.job-list-filter-store {
    padding: 16px;
    background: white;
    border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: 0 16px 24px rgb(0 0 0 / 6%), 0 2px 6px rgb(0 0 0 / 4%), 0 0 1px rgb(0 0 0 / 4%);
}

.job-list-filter-title {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 16px;
}

.job-list-filter-title span {
    margin-left: 15px;
}

.job-list-filter-list {
    display: flex;
    flex-direction: column;

}

.job-list-filter-item {
    width: 100%;
    justify-content: flex-start;
    padding: 10px 8px;
}

.job-list-filter-item .active {
    background: #ffefef;
    border-radius: 8px;
}

.job-list-body {
    max-width: 753px;
    flex: 1;
    margin-left: 18px;
    background: #fff;
    border: 1px solid #eee;
    box-shadow: 0 16px 24px rgb(0 0 0 / 6%), 0 2px 6px rgb(0 0 0 / 4%), 0 0 1px rgb(0 0 0 / 4%);
    border-radius: 4px;
    height: fit-content;
}

.job-list-body-info {
    padding: 16px 24px;

}

.job-list-body-count {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.job-list-body-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin-top: 4px;
}

.job-list-body-main {

}

.job-list-item {
    min-height: 142px;
    padding: 24px;
    box-shadow: inset 0 -1px 0 #f5f5f5;
}

.job-list-item:hover {
    background-color: #f6f6f6;
    cursor: default;
}

.job-list-item-unit {
    color: #30c894;
    background: #eafaf4;
    padding: 1px 8px;
    font-size: 12px;
    line-height: 20px;
    border-radius: 6px;
    margin-bottom: 8px;
    width: fit-content;
}

.job-list-item-body {
    display: flex;
}

.job-list-item-left {
    flex: 1;
}

.job-list-item-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
}

.job-list-item-left-info {
    color: #333;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.job-list-item-icon {
    margin-right: 5px;
}

.job-list-item-right {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.job-list-item-deadline {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #545454;
    margin-bottom: 12px;
}

.job-list-item-btn-apply {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    height: 40px;
    width: 156px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #e2e2e2;
    padding: 10px 16px;
}

.job-list-item-btn-apply:hover {
    cursor: pointer;
}