.job-search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 8px 6px 16px;
    background-color: white;
    border-radius: 8px;
    color: #141414;
    height: 52px;
    width: 736px;
    margin: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.job-position {
    flex-basis: 50%;
    padding-right: 8px;
    border-right: 1px solid #eee;
    align-items: baseline;
}

.job-position > p {
    font-size: 12px;
}

.job-position > input {
    border: none;
    font-size: 14px;
    width: 100%;
    outline: none;
}

.job-location {
    display: flex;
    flex-basis: 36%;
    align-items: center;
    border-right: 1px solid #eee;
    padding: 0 24px;
}

.job-location-left {
    margin-right: 10px;
}

.job-location-left p:first-child {
    font-size: 12px;
}

.job-location-left p:nth-child(2) {
    font-size: 14px;
}

.job-search {
    padding-left: 5px;
}

.job-search > button {
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: #2b2b2b;
    color: white;
    border-radius: 5px;
}