.news__page {
  background-color: white;
}

.news__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  border-top: 1px solid #e3e3e3;
  margin-bottom: 15px;
}

.news__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
}

.news__title p:first-child {
  font-size: 30px;
  font-weight: bold;
  color: orangered;
}

.news__title p:nth-child(2) {
  font-size: 25px;
  font-weight: 600px;
  color: orange;
  margin-bottom: 0px !important;
}

.news__main {
  margin-top: 10px;
  margin-left: 20px;
}

.news__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 100px;
  padding-right: 100px;
}

.news {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 5px;
  padding-bottom: 15px;
  border-radius: 5px;
}

.news > p {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.news > p:nth-child(2) {
  font-weight: 550;
}

.news > p:nth-child(3) {
  font-size: 15px;
  font-weight: 300;
}

.news__buttonGroup > button {
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #428bca;
  color: white;
  border: none;
  border-radius: 3px;
}

.news__buttonGroup > button:hover {
    cursor: pointer;
    background-color: #3979b1;
}

.news__buttonGroup > button:nth-child(2) {
    background-color: #bb2124;
  }

.news__buttonGroup > button:nth-child(2):hover {
  background-color: #9e1b1d;
}
